<h3>Thanks for shopping!</h3>
<p>Order Review</p>

<%  @order.order_items.each do |key, value| %>

<ul>
  <li>Product: <%= Product.find(key).name%> - QTY: <%= value %></li>
</ul>

<% end %>

<p>
  <strong> Sub Total: </strong> <%= number_to_currency @order.subtotal %> <br>
  <strong> Tax Total: </strong> <%= number_to_currency @order.sales_tax %> <br>
  <strong> Order Total: </strong> <%= number_to_currency @order.grand_total %> <br>
</p>
