<div class="row">
  <% @products_by_cat.each do |product| %>

    <div class="col-sm-4">
      <div class="well text-center">
        <% if product.image.url.nil? == false %>
          <p><%= image_tag product.image.url, size: 100 %></p>
        <% end %>
        <h3><%= link_to product.name, product %></h3>
        <p><strong><%= number_to_currency product.price %></strong></p>
        <p>
          <a href="#" data-toggle="modal" data-target="#myModal_<%= product.id %>">
            <span class="glyphicon glyphicon-plus"></span>Device Info</a>
        </p>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><%= product.name %></h4>
          </div>
          <div class="modal-body">
            <% if product.image.url.nil? == false %>
              <p><%= image_tag product.image.url, size: 150 %></p>
            <% end %>
            <p>Made by:
              <%= product.brand %></p>
            <p>Rating:
              <%= product.rating %></p>
            <p>Category:
              <%= product.category.name %></p>
            <p>Description:
              <%= product.description %></p>
          </div>
          <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">X</button>
      </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
