<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
 <%= number_to_currency(@product.price, :precision => (@product.price.round == @product.price) ? 0 : 2)%></p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @product.brand %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @product.rating %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name%>
</p>

<p>
  <%= image_tag @product.image.url, size: 200 %>
</p>

<!-- Modal -->
<div class="modal fade" id="myModal_<%= @product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= @product.name %></h4>
      </div>
      <div class="modal-body">
        <% if @product.image.url.nil? == false %>
          <p><%= image_tag @product.image.url, size: 150 %></p>
        <% end %>
        <p>Made by:
          <%= @product.brand %></p>
        <p>Rating:
          <%= @product.rating %></p>
        <p>Category:
          <%= @product.category.name %></p>
        <p>Description:
          <%= @product.description %></p>
      </div>
      <div class="modal-footer">
        <div style="display: inline-block;">
          <%= form_tag add_to_cart_path, method: :post do %>
          <%= hidden_field_tag :product_id, @product.id %>
          <%= number_field_tag :quantity, nil, min: 1, placeholder: "How many?",
          class: "form-control", style: "width: 120px;
            display: inline-block;" %>
            <%= submit_tag "Add to Cart", class: "btn btn-primary",
            style: "display: inline-block" %>
            <% end %>
        </div>

        <div style="display: inline-block">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>

<% if can? :update, @product %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<%end%>
